In [1]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
from urllib import parse
import numpy as np

In [2]:
url = 'https://www.worldometers.info/coronavirus/'

In [3]:
html_text = requests.get(url).text

In [4]:
#html_text

In [5]:
tree = BeautifulSoup(html_text, "html.parser")

In [6]:
#tree

In [7]:
cols = tree.find('thead').find_all('th')

In [8]:
len(cols)

22

In [9]:
columns = []
for col in cols:
    columns.append(col.text)

In [10]:
lines1 = tree.find('tbody').find_all('tr',{'style':''})
lines2 = tree.find('tbody').find_all('tr',{'style':'background-color:#F0F0F0'})
lines3 = tree.find('tbody').find_all('tr',{'style':'background-color:#EAF7D5'})

In [11]:
lines = lines1 + lines2 + lines3

In [12]:
data = []

for line in lines:
    row = []
    for l in line.find_all('td'):
        row.append(l.text)
    data.append(row)

In [13]:
df = pd.DataFrame(np.array(data), columns=columns)

In [14]:
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,World,"161,472,416","+395,655","3,351,188","+6,379","140,292,568","+443,298","17,828,660","104,635",...,,,,All,\n,,,,,
1,1,USA,"33,590,587","+4,451","597,864",+79,"26,621,706","+1,477","6,371,017","8,702",...,"461,566,957","1,387,441","332,674,970",North America,10,556,1,13,0.2,"19,151"
2,2,India,"23,943,878","+241,046","261,053","+2,702","19,983,310","+254,874","3,699,515","8,944",...,"309,448,585","222,356","1,391,679,242",Asia,58,"5,331",4,173,2,"2,658"
3,3,Brazil,"15,361,686",,"428,256",,"13,924,217",,"1,009,213","8,318",...,"46,970,130","219,630","213,860,730",South America,14,499,5,,,"4,719"
4,4,France,"5,821,668",,"107,119",,"4,960,097",,"754,452","4,583",...,"79,684,856","1,218,458","65,398,090",Europe,11,611,1,,,"11,536"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,212,Saint Pierre Miquelon,25,,,,25,,0,,...,"5,318","921,664","5,770",North America,231,,1,,,
219,214,Solomon Islands,20,,,,20,,0,,...,"4,500","6,417","701,303",Australia/Oceania,"35,065",,156,,,
220,218,Marshall Islands,4,,,,4,,0,,...,,,"59,534",Australia/Oceania,"14,884",,,,,
221,220,Saint Helena,2,,,,2,,0,,...,,,"6,093",Africa,"3,047",,,,,
222,221,Micronesia,1,,,,1,,0,,...,,,"116,060",Australia/Oceania,"116,060",,,,,

In [15]:
from datetime import date
today = date.today()
df.to_csv('%s.csv'% str(today))

In [16]:
today = date.today()
str(today)

'2021-05-13'